<h1>Marmitas da VPSA</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Pessoa</th>
    <th>Descricao</th>
  </tr>

<% @marmitas.each do |marmita| %>
  <tr>
    <td><%=l marmita.created_at %></td>
    <td><%= marmita.pessoa %></td>
    <td><%= marmita.descricao %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Marmita', new_marmita_path %>
